@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "views/about_us";
@import "views/address";
@import "views/first_visit";
@import "views/footer";
@import "views/header";
@import "views/index";
@import "views/insurance";
@import "views/referral_letter";
@import "views/stand_out";
@import "components/appointment";
@import "components/accordion";
@import "components/navigation";

html,
body {
  background-color: #f6f1ee;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
.header {
  background: #ededed;
  padding: 10px;
}

.footer {
  bottom: 0;
}


h1 {
  color: #ec2b8c;
  font-size: 1.3em;
}
