<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
var bittersMap = (function () {
  var myLatlng = new google.maps.LatLng(53.299928, 6.600865),
  mapCenter = new google.maps.LatLng(53.299928, 6.600865),
  mapCanvas = document.getElementById('map_canvas'),
  mapOptions = {
    center: mapCenter,
    zoom: 13,
    scrollwheel: false,
    draggable: true,
    disableDefaultUI: true,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  },
  map = new google.maps.Map(mapCanvas, mapOptions),
  contentString =
    '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">De Schonemond</h1>'+
    '<div id="bodyContent"'+
    '<p></p>'+
    '<p>Schoolstraat 3</p>'+
    '<p>9781JL Bedum</p>'+
    '</div>'+
    '</div>',
  infowindow = new google.maps.InfoWindow({
    content: contentString,
    maxWidth: 300
  }),
  marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: 'De schonemond (Bedum)'
  });

  return {
    init: function () {
      map.set('styles', [{
        featureType: 'landscape',
        elementType: 'geometry',
        stylers: [
        { hue: '#ffff00' },
        { saturation: 30 },
        { lightness: 10}
        ]}
      ]);

      google.maps.event.addListener(marker, 'click', function () {
        infowindow.open(map,marker);
      });
    }
  };
}());
bittersMap.init();
}
google.maps.event.addDomListener(window, "load", initialize);
</script>




<div id="map_canvas"></div>
