<div class="stand-out">
  <%# <%= partial "new_dentist" %>
  <div class="welcome">
    <p>
    De Nieuwe mondhygienist  gevestigd aan de Westerkade in de binnenstad van groningen.  Behandelingen worden uitgevoerd door een ervaren mondhygiënist, gespecialiseerd is in de parodontologie en implantologie.
    </p>
  </div>

  <div class="new-location-view">
    <%= image_tag "images/LA-Westerkade-13.jpg", alt: "LA Westerkade 13", class: "front-pic-location" %>
    <%= image_tag "images/westerkade-overzicht.png", alt: "LA Westerkade 13", class: "westerkade-view" %>
  </div>
    <%= image_tag "images/locatie-de-schonemond.png", alt: "Nieuwe locatie van De Schonemond", class: "new-location" %>
  <!-- <div class="hexagon"></div> -->
  <!-- <div class="half&#45;hexagon"></div> -->
</div>
