.about-us {
  @include outer-container;
  background: #ffffff;
  padding: 2em;

  h1 {
    margin-top: 1em;
  }

  h3 {
    margin-bottom: 0.2em;
  }

  .member {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: 2em;
    height: 7em;

    img {
      float: left;
      height: 100%;
      margin-right: 1em;
    }
  }

}
