.first-visit {
  @include outer-container();
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: white;

  h1 {
    color: #ec2b8c;
    font-size: 1.3em;
  }

  h2 {
    color: #ec2b8c;
    font-size: 1em;
    margin-top: 1em;
  }

  .text {
    @include span-columns(6);
    @include shift(2);
    overflow: auto;
    padding-left: 1em;
  }

  .accordion {
    @include span-columns(8);
    @include shift(2);
    overflow: auto;

    .accordion {
      @include span-columns(12);
      @include shift(0);
      margin: 0;
      width: 100%;
    }
  }
  ul {
  // margin-top: 0.5em;
  }
  ul li {
    // list-style-type: disc;
  }
}
