.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  $footer-background: $light-gray;
  $footer-color: #ec2b8c;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-li-color: black;
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  @include outer-container();
  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $base-spacing;
  }

  dl {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    margin-top: 0;
    padding: 0;
  }

  dd,
  dt {
    margin-top: 0;
    color: $footer-li-color;
    line-height: 1.5em;
    float: left;
  }

  dt {
    clear: left;
    width: 110px;
  }


  ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
    margin-right: 4em;
  }

  li {
    color: $footer-li-color;
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-li-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
