.announcer {
  background: $light-gray;
  font-family: $open-sans;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
}

.top {
  @include outer-container;
  background-color: white;
  overflow: auto;

  .up {
    // background-image: url(image_path("logo_achtergrond.png"));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }

  .logo {
    clear: both;
    display: block;
    margin: 3.3em auto;
    width: 20em;
  }
}
