.insurence {
  @include outer-container;
  background-color: white;
  padding-top: 2em;

  .info {
    @include span-columns(6);
    @include shift(3);
  }

  table {
    margin-bottom: 1em;
  }

  th > td {
    text-align: left;
  }

  .treatment {
    width: 50%;
  }

  td:last-child {
    text-align: right;
  }

  dt {
    float: left;
    margin-top: 0;
    margin-right: 1em;
  }
}
