$hexagon-color:  #efefef;

.stand-out {
  @include outer-container();
  background-color: white;
  padding-top: 2em;
  padding-left:0.9em;
  padding-bottom: 4em;

  .moving {
    margin: 0 auto 2em;
    max-width: 39em;

    address {
      text-align: center;
    }

  }

  .new-location-view {
    overflow: hidden;
    padding: 0 4em;
    max-height: 16em;
    margin-bottom: 1em;
  }

  .westerkade-view {
    float: right;
    max-width: 49%;
  }

  .front-pic-location {
    float: left;
    max-width: 49%;
  }

  .new-location {
    padding: 0 4em;
  }

  .sign-up {
    // background-image: image_url("/images/kamle_aan_het_werk.jpg") ;
    // background-size: cover;
    display: block;
    margin-bottom: 2em;
    overflow: auto;
    // padding-bottom: 8em;
    // padding-top: 8em;
    text-align: center;

    .conversion-button {
      margin: auto;
    }

    form {
      // background-color: rgba(0,0,0,0.5);
      // color: white;
      display: inline-block;
      margin: auto;
      padding: 1em 2em;
      text-align: left;

      input[type=submit] {
        background-color: #f1cc0c;
        float:right;
        &:hover,
        &:focus {
          background-color: #c6a80c;
        }
      }
    }

    h2 {
      font-size: 1.5em;
      display: block;
    }

    label {
      float: left;
      width: 9em;
    }

    input,
    textarea {
      width: 15em;
      display: block;
    }

    inpute[type=submit] {
      background-color: #f1cc0c;
      clear: both;
      right: 0;
      float: right;

      &:hover,
      &:focus {
        background-color: #c6a80c;
      }
    }
  }

  .gons:nth-child(2n) {
    margin-top: -60px;
    overflow: auto;
  }


  .hexagon {
    position: relative;
    display: inline-block;
    height: 173.21px;
    background-color: $hexagon-color;
    margin: 86.60px 0;

    span {
      overflow: auto;
      position: absolute;
      font-size: 2em;
      margin: auto;
      padding: 1em;

    }

    &.full {
      width: 300px;
    }

    &.left,
    &.right {
      width: 150px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
    }

    &.full:before,
    &.full:after {
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
    }

    &.left:before,
    &.left:after {
      border-right: 150px solid transparent;
    }

    &.right:before,
    &.right:after {
      border-left: 150px solid transparent;
    }

    &:before {
      bottom: 100%;
      border-bottom: 86.60px solid $hexagon-color;
    }

    &:after {
      top: 100%;
      width: 0;
      border-top: 86.60px solid $hexagon-color;
    }
  }

  .new-dentist {
    @include outer-container;
    border: 4px $pink-color solid;
    border-top-right-radius: 10em;
    margin: 3em;
    padding: 2em 0em 2em 2em;
    background: image-url("tandarts_bedum_alexandra_boracchia.png") no-repeat right bottom;
    padding: 2em 0em 2em 2em;
    background-size: 54%;

    h1 {
      color: black;
      font-size: 2em;
    }

    .image-container {
      @include span-columns(6);
      border-top-right-radius: 10em;
      margin-top: 5em;
      position: relative;

      img {
        border-top-right-radius: 10em;
        display: block;
        height: 100%;
        width: 100%;
      }

    }
    .text {
      @include span-columns(6);
    }

    span {
      color: $pink-color;
    }

    blockquote {
      margin-left: 1em;
      font-size: 1.1em;
      font-weight: 500;
    }
  }
}
