.welcome {
  @include outer-container;
  p {
  @include span-columns(6);
  @include shift(3);
}
}

.reviews {
  @include outer-container;
  background: white;
  padding: 1em;

  h2 {
    text-align: center;
  }

  article {
    @include span-columns(6);
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 1.5em;

    .rating {
      color: #ffd700;
      unicode-bidi: bidi-override;
      text-align: center;
      margin-bottom: 1em;
    }
    .rating > span {
      color: #ffd700;
      display: inline-block;
      position: relative;
      width: 1.1em;
    }
    .rating > before,
    .rating > span:before {

      color: #ffd700;
      content: "\2605";
      position: absolute;
    }

    strong {
      color: black;
    }
  }
}
