<section class="reviews">
  <h2>Recensies</h2>
  <article>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      <strong>5/5</strong>
    </div>
    <p>
    In de afgelopen jaren dat Kamle Mantel werkzaam is geweest bij mij in het dorp, heb ik veel geleerd over een gebit. Wat je allemaal zelf kunt doen om jouw tanden en kiezen goed schoon en gezond te houden. Door deze informatie op een prettige manier over te brengen, word je meer bewust gemaakt over wat een gebit dagelijks te voortduren heeft.
    </p>

    <p>
    Kamle is een persoon met een goede overredingskracht en kan duidelijk informatie over mondhygiëne overbrengen. Fijn om naar haar toe te gaan.
    </p>

    <p>
    Ik wens haar veel succes toe met haar nieuwe praktijk in Groningen.
    </p>

    Marga Boersma
  </article>
  <article>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      <strong>5/5</strong>
    </div>
    <p>
    Na 25 jaar een mondhygiëniste in de stad Groningen te hebben gehad, ben ik afgelopen jaar overgestapt naar De Mondhygienist Groningen. Daar heb ik geen moment spijt van gehad. Kamle is kundig, hygiënisch, en klantvriendelijk. Ze verteld wat ze gaat doen, en houdt tijdens de behandeling contact met de patiënt, wat ik zelf als zeer prettig ervaar.
    </p>
    <p>
    Ze heeft een plezierige en gedegen manier van werken, een open communicatie en interesse in de patiënt als persoon. Doordat ze rustig te werk gaat, heb je als patiënt weinig tot geen pijn, dit was bij mijn andere mondhygiëniste wel anders.
    </p>
    <p>
    Ik geef de praktijk en Kamle een dikke 10.
    </p>
    Verena Huizenga - Lammerts
  </article>
</section>
