.accordion {

  h2 {
    // border-radius: 10px;
    cursor: pointer;
    padding: 1em;
    margin: 0;

    &:hover {
      background-color: lighten(#cccccc, 10%);
    }
  }

  li.link-container {
    background-color: white;
    // background-color: #f6f6f6;
    // border: 1px #bbbbbb solid;
    border-bottom: none;

    &:last-child {
      // border: 1px #bbbbbb solid;
    }
  }

  .accordion > .link-container {
    list-style-type: none;
  }

  > li > div > ul > li,
  > li > ul > li {
    list-style-position: inside;
    list-style-type: disc;
    &:last-child {
      border: none;
    }
  }

  > li > a > h2 {
    font-weight: 600;
    color: #ec2b8c;
  }

  .submenu {
    display: none;
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom: 0;
    overflow: auto;
  }

  .is-expanded {
    > a {
      color: red;
    }

    display: block;
  }
}
