<div class="expand-to-footer">
</div>
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag "deschonemond-logo.png", alt: "Mondhygiënepraktijk De Schone Mond", id: "contact" %>
  </div>
  <div class="footer-links">
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <ul>
        <li><h3>Adressgegevens</h3></li>
        <li itemprop="streetAddress">Westerkade 16-3</li>
        <li><span itemprop="postalCode">9718 AS</span> <span itemprop="addressLocality">Groningen</span></li>
        <li>E: <a href="mailto:Info@demondhygienistgroningen.nl" itemprop="email">Info@demondhygienistgroningen.nl</a> </li>
        <li>T: <span itemprop="telephone">050 - 211 19 31</span></li>
      </ul>
    </address>

    <div >
      <h3> Openingstijden </h3>
      <div><span>Maandag</span> <span>Gesloten</span></div>
      <div><span>Dinsdag</span>   <span>Gesloten</span></div>
      <div itemprop="openingHoursSpecification" itemtype="http://schema.org/OpeningHoursSpecification">
        <!-- <link itemprop="dayOfWeek" href="http://schema.org/Wednesday" /> -->
        <span>Woensdag</span>
        <span><time itemprop="opens" content="08:00:00">08:00</time></span> - <span><time itemprop="closes" content="17:00:00">17:00 </span>
      </div>
      <div itemprop="openingHoursSpecification" itemtype="http://schema.org/OpeningHoursSpecification">
        <!-- <link itemprop="dayOfWeek" href="http://schema.org/Thursday" /> -->
        <span>Donderdag</span>
        <span><time itemprop="opens" content="08:00:00">08:00</time></span> - <span><time itemprop="closes" content="21:00:00">21:00 </span>
      </div>
      <div><span>Vrijdag</span> <span>Gesloten</span></div>
      <div itemprop="openingHoursSpecification" itemtype="http://schema.org/OpeningHoursSpecification">
        <!-- <link itemprop="dayOfWeek" href="http://schema.org/Saturday" /> -->
        <span>Zaterdag</span>
        <span><time itemprop="opens" content="10:00:00">10:00</time></span> - <span><time itemprop="closes" content="16:00:00">16:00 </span>
      </div>
      <div><span>Zondag</span> <span>Gesloten</span></div>
    </div>
  </div>

  <hr>

  <p></p>
</footer>
