<div class="announcer">
  De Mondhygiënist Groningen
</div>
<div class="top">
  <div class="up">
    <a href="/" itemprop="url">
      <%= image_tag "deschonemond-logo.png", alt: "De Mondhygienist Groningen", class: "logo", itemprop: "logo"  %>
    </a>
  </div>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    </div>
  </header>
</div>
