<section>
  <article class="new-dentist">
    <div class="text">
      <h1>De <span>nieuwe tandarts</span> in Bedum</h1>

      <p>Mag ik aan u voorstellen de nieuwe tandarts in Bedum <span>Alexandra Boracchia</span>. Een exotische naam voor de 29-jarige wereldvrouw. Zij is geboren en getogen in Canada, waarnaar haar ouders besloten te emigreren naar Spanje. In het voor ons zuidelijk land heeft Alexandra de studie <span>Tandheelkunde</span> kunnen volgen aan de universiteit te Murcia. Al snel na het afronden van haar studie, besloot zij het warme zuiden te verlaten en ons noordelijke kikkerlandje op te zoeken.</p>
      <p>Alexandra is een <span>sympathieke jonge tandarts</span>. Een ondernemende vrouw die eerlijkheid, <span>deskundigheid</span> en professionaliteit hoog in het vaandel heeft staan. Ze is <span>grappig en spontaan</span>. Daarnaast heeft zij zich gespecialiseerd in het behandelen van <span>angstpatiënt en kinderen</span>. Ze is een tandarts die rustig de tijd neemt voor vragen en open staat voor de ideeën van de patiënt.</p>
      <p>Alexandra werkt al drie jaar als tandarts in Nederland en dit bevalt haar uitstekend. Ze spreekt vloeiend Nederlands, Engels en Spaans.</p>

      <blockquote><span>’T Grunnigs is ze nog aan’t leer’n moar dat valt heur nait mit!</span></blockquote>
    </div>
  </article>
</section>
