---
title: Eerste bezoek | Tandartspraktijk De Schone Mond
---


<div class="wrapper">
  <%= partial "header" %>
    <div class="first-visit">
      <div class="text">
        <h1 id="eerste-bezoek">Eerste bezoek</h1>
        <p>
          Hieronder vindt u een keuzemenu. Klik op de vraag die voor u het meest van toepassing is. U krijgt dan antwoord op de desbetreffende vraag.
        </p>
        <p>
          U heeft geen verwijsbrief nodig voor het maken van uw eerste afspraak bij de mondhygiënisten. Wilt u hierover meer informatie? Klik hier
        </p>
        <p>
          U bent nog nooit bij een mondhygiënist geweest. Hieronder kunt u stapsgewijs nalezen wat er tijdens een eerste afspraak gebeurd.
        </p>
      </div>

      <ul class="accordion">
        <li class="link-container">
          <a href="javascript:void(0)" class="js-accordion-trigger"><h2>U wilt graag inhoudelijk meer informatie over het eerste bezoek?</h2></a>
          <div class="submenu first-menu">
            <h3>Eerste bezoek - 30 minuten</h3>
            Verwelkoming in de praktijk:
            <ul>
              <li>De mondhygiënist stelt zich aan u voor</li>
              <li>Het eerste bezoek wordt stapsgewijs uitgelegd</li>
              <li>Er wordt geverifieerd of u vragen heeft</li>
            </ul>
            <h3>Persoonsgebonden informatie</h3>
            <ul>
              <li>De mondhygiënist neemt de volgende aspecten met u door</li>
              <li>De gezondheidsvragenlijst</li>
              <li>De mondgezondheid</li>
              <li>Klachten en wensen conform het gebit</li>
              <li>Eventueel de verwijsbrief</li>
            </ul>
            <h3>De behandeling</h3>
            <ul>
              <li>De stoel gaat naar achter</li>
              <li>Het gebit, tandvlees en omliggende weefsels worden uitvoerig gecontroleerd</li>
              <li>De stoel gaat weer omhoog</li>
              <li>Indien u het nodig acht kunt u spoelen met water</li>
            </ul>
            <h3>Een behandelplan</h3>
            <ul>
              <li>De bevindingen van de mondhygiënist wordt met u besproken</li>
              <li>Nadere toegelicht gebeurd a.d.h.v. een speciaal opgesteld boekje</li>
              <li>Er worden verschillende behandeloptie’s met u besproken</li>
              <li>Deze zijn afgestemd op uw klachten en wensen</li>
            </ul>
            <h3>Afspraken plannen</h3>
            <p>
            U krijgt het speciaal opgestelde boekje en de begrotingen mee.
            Controleer thuis de begrotingen bij de verzekering samen met de mondhygiënist kijkt u naar datums voor de volgende afspraken.
            </p>
        </li>
        <li class="link-container">
          <a href="javascript:void(0)" class="js-accordion-trigger"><h2>Wat neemt u mee naar uw eerste bezoek?</h2></a>
          <div class="submenu first-menu">
            Het is noodzakelijk om de volgende stukken mee te nemen naar de eerste afspraak:
            <ul>
              <li>Identiteitskaart of paspoort.</li>
              <li>Verzekeringspas.</li>
              <li>Ingevulde gezondheidsvragenlijst. Klik hier</li>
            </ul>
            <p>
            Als u een verwijsbrief van uw tandarts of andere specialist heeft, dan moet u deze meenemen naar de eerste afspraak. Verwijsbrief online invullen? Klik hier
            </p>
          </div>
        </li>
        <li class="link-container">
          <a href="javascript:void(0)" class="js-accordion-trigger"><h2>U bent eerder onder behandeling van een mondhygiënist geweest?</h2></a>
          <div class="submenu first-menu">
            <p>
            Hieronder vindt u meerdere optie’s. Klik op de optie die voor u het meest van toepassing is voor meer informatie.
            </p>
            <ul class="accordion">
              <li class="link-container">
                <a href="javascript:void(0)" class="js-inner-accordion-trigger"><h2>U bent bij een andere mondhygiënist onder behandeling (geweest)</h2></a>
                <div class="submenu second-menu">
                  <p>
                  De Schone Mond heet u van harte welkom. De praktijk neemt nog nieuwe patiënten aan.
                  Hieronder vindt u twee optie’s om uw inschrijving te starten.
                  </p>

                  <p>
                  U kunt zich makkelijk en veilig online inschrijven, waarbij u gelijk een afspraak kunt maken voor een eerste bezoek.
                  </p>

                  Klik hier voor het online inschrijven

                  óf

                  U kunt telefonisch contact met ons opnemen voor het maken van een afspraak 050 - 211 19 31*.

                  *In verband met de patiëntenbehandeling kan het zijn dat wij niet in de gelegenheid zijn om op te nemen
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  <%= partial "footer" %>
</div>
