---
title: De Schone Mond
---


<div class="wrapper">
  <%= partial "header" %>

  <section style="max-width: 35em; margin: auto;">
    <p>Beste patienten,</p>

    <p>De praktijk is helaas permanent gesloten, alle afspraken komen te vervallen. Uw gegevens kunt u via de e-mail opvragen. Het e-mailadres is <a href="mailto:info@deschonemond.nl">info@deschonemond.nl</a>. Telefonisch zijn wij helaas niet meer bereikbaar.</p>

    <p>Met vriendelijke groet,</p>

    <p>De Schone Mond</p>
  </section>
</div>

