---
title: Over ons | Tandartspraktijk De Schone Mond
---


<div class="wrapper">
  <%= partial "header" %>
    <div class="about-us">
      <h1>Over ons - Tandartspraktijk De Schone Mond</h1>

      <h2>Het team</h1>
      <div class="team">
        <div class="member">
        <%= image_tag "team/Kamle.jpg", alt: "Mondhygiënist Kamle Mantel" %>
          <h3>Kamle Mantel</h3>
          <br>
          <p>Mondhygiëniste / eigenaar</p>
        </div>
        <div class="member">
          <%= image_tag "team/Rosalie.jpg", alt: "Mondhygiënist Rosalie Croezen" %>
          <h3>Rosalie Croezen</h3>
          <br>
          <p>Mondhygiëniste</p>
        </div>
        <div class="member">
          <%= image_tag "team/Berber.jpg", alt: "Mondhygiënist Berber Den Engelse" %>
          <h3>Berber Den Engelse</h3>
          <br>
          <p>Mondhygiëniste I.O. / Preventieassistent</p>
        </div>
        <div class="member">
          <%= image_tag "team/Marcel.jpg", alt: "Marcel Horlings" %>
          <h3>Marcel Horlings</h3>
          <br>
          <p>ICT beheerder</p>
        </div>
      </div>

    </div>
  <%= partial "footer" %>
</div>
