---
title: Verwijsbrief | Mondhygiënepraktijk De Schone Mond
---


<div class="wrapper">
  <%= partial "header" %>
    <div class="referral-letter">
      <div class="info">
        <h1 id="verwijsbrief">Verwijsbrief</h1>

        <p>
          Wist u dat een verwijsbrief niet meer noodzakelijk is om een afspraak te maken bij de mondhygiënist te maken. Ook zonder verwijsbrief kunt u bij de mondhygiënist terecht en verzekeringstechnisch wordt het geen probleem.
        </p>

        <p>
          Wanneer u wel een verwijsbrief heeft is het belangrijk om deze mee te nemen. Ook als uw verwijzer ervoor heeft gekozen om u online door te verwijzen.
        </p>
      </div>

    </div>
  <%= partial "footer" %>

</div>
