---
title: Verzekeringen | Mondhygiënepraktijk De Schone Mond
---


<div class="wrapper">
  <%= partial "header" %>

    <div class="insurence">
      <div class="info">
        <h1 id="verzekeringen">Verzekering</h1>

        <!-- Hieronder vindt u een keuzemenu. Klik op de vraag die voor u het meest van toepassing is. U krijgt dan antwoord op de desbetreffende vraag. -->

        <p>
          U heeft geen verwijsbrief nodig voor het maken van uw eerste afspraak bij de mondhygiënisten. Wilt u hierover meer informatie? Klik hier
        </p>

        <p>
          Dekt de verzekering de behandelingen bij de mondhygiënist?
        </p>

        <table>
          <thead>
            <th>Code</th>
            <th class="treatment">Behandeling</th>
            <th>Bedrag</th>
            <th>Vergoeding</th>
          </thead>

          <%# I Consultatie en diagnostiek (C) %>
          <%# a. Diagnostisch onderzoek %>
          <tr>
            <td>C11</td>
            <td>Periodieke controle</td>
            <td>€21,-</td>
            <td>100%</td>
          </tr>
          <tr>
            <td>C13</td>
            <td>Probleemgericht consult</td>
            <td>€21,-</td>
            <td></td>
          </tr>
          <%# b. Aanvullend diagnostisch onderzoek, algemeen a %>
          <tr>
            <td>C22</td>
            <td>Schriftelijke medische anamnese</td>
            <td>€21,-</td>
            <td></td>
          </tr>
          <tr>
            <td>C28</td>
            <td>Uitgebreid onderzoek t.b.v. opstellen en vastleggen behandelplan</td>
            <td>€94,77 </td>
            <td></td>
          </tr>
          <tr>
            <td>C29</td>
            <td>* Studiemodellen t.b.v. behandelplan </td>
            <td>€26,33  </td>
            <td></td>
          </tr>
          <%# c. Toeslagen en diversen  %>
          <tr>
            <td>C80</td>
            <td>Mondzorg aan huis </td>
            <td>€15,80</td>
            <td></td>
          </tr>
          <%# II Maken en/of beoordelen foto’s %>
          <tr>
            <td>X10</td>
            <td>Kleine röntgenfoto</td>
            <td>€14,74</td>
            <td></td>
          </tr>
          <%# III Preventieve mondzorg (M) %>
          <tr>
            <td>M01</td>
            <td>Preventieve voorlichting en/of instructie (per 5 minuten)</td>
            <td>€11,80</td>
            <td></td>
          </tr>
          <tr>
            <td>M02</td>
            <td>Consult voor evaluatie van preventie (per 5 minuten) </td>
            <td>€11,80</td>
            <td></td>
          </tr>
          <tr>
            <td>M03</td>
            <td>Gebitsreiniging (per 5 minuten)</td>
            <td>€11,80 </td>
            <td></td>
          </tr>
          <tr>
            <td>M05</td>
            <td>Beslijpen en/of behandelen melkelement</td>
            <td>€23,69</td>
            <td></td>
          </tr>
          <tr>
            <td>M32</td>
            <td>Eenvoudig bacteriologisch onderzoek</td>
            <td>€15,80</td>
            <td></td>
          </tr>
          <tr>
            <td>M10</td>
            <td>Fluoridebehandeling, methode I </td>
            <td>€26,33</td>
            <td></td>
          </tr>
          <tr>
            <td>M20</td>
            <td>Fluoridebehandeling, methode II</td>
            <td>€21,06</td>
            <td></td>
          </tr>
          <tr>
            <td>M61</td>
            <td>* Mondbeschermer</td>
            <td>€23,69</td>
            <td></td>
          </tr>
          <%#IV Verdoving (A) %>
          <tr>
            <td>A15</td>
            <td>Oppervlakte verdoving</td>
            <td>€6,85</td>
            <td></td>
          </tr>
          <tr>
            <td>A10</td>
            <td>Geleidings- en/of infiltratie verdoving</td>
            <td>€13,16</td>
            <td></td>
          </tr>
          <%# VI Vullingen (V) %>
          <tr>
            <td>V30</td>
            <td>Fissuurlak, eerste element</td>
            <td>€23,69</td>
            <td></td>
          </tr>
          <tr>
            <td>V35</td>
            <td>Fissuurlak, ieder volgend element in dezelfde zitting </td>
            <td>€13,16</td>
            <td></td>
          </tr>
          <tr>
            <td>V50</td>
            <td>Droogleggen van elementen d.m.v. een rubberen lapje</td>
            <td>€10,53</td>
            <td></td>
          </tr>
          <tr>
            <td>V71</td>
            <td>Eenvlaksvulling amalgaam </td>
            <td>€22,11</td>
            <td></td>
          </tr>
          <tr>
            <td>V72</td>
            <td>Tweevlaksvulling amalgaam</td>
            <td>€35,28</td>
            <td></td>
          </tr>
          <tr>
            <td>V73</td>
            <td>Drievlaksvulling amalgaam</td>
            <td>€45,81</td>
            <td></td>
          </tr>
          <tr>
            <td>V72</td>
            <td>Tweevlaksvulling amalgaam</td>
            <td>€35,28</td>
            <td></td>
          </tr>
          <tr>
            <td>V72</td>
            <td>Tweevlaksvulling amalgaam</td>
            <td>€35,28</td>
            <td></td>
          </tr>
          <tr>
            <td>V72</td>
            <td>Tweevlaksvulling amalgaam</td>
            <td>€35,28</td>
            <td></td>
          </tr>
          <tr>
            <td>V72</td>
            <td>Tweevlaksvulling amalgaam</td>
            <td>€35,28</td>
            <td></td>
          </tr>
          <tr>
            <td>J60</td>
            <td>Implantaat controle en reiniging</td>
            <td>€49,37</td>
            <td>100%</td>
          </tr>
          <tr>
            <td>J60</td>
            <td>Implantaat controle en reiniging</td>
            <td>€49,37</td>
            <td>100%</td>
          </tr>






        </table>


        <dl>
          <dt>M-codes</dt><dd>(M01, M02, M03, M04, M05, M06)</dd>
          <dt>T-codes</dt><dd>(T11, T12, T22, T31, T32, T52, T54, T56, T60, T61)</dd>
          <dt>T-codes</dt><dd>(T11, T12, T22, T31, T32, T52, T54, T56, T60, T61)</dd>
        </dl>


        <p>
        Hoe hoog is het bedrag dat u gedekt krijgt?
        <br>
        Vaak liggen de bedragen rond de €250,- €500,- €750,- of €1.000,-
        <br>
        Hoe hoog het percentage is dat vergoed wordt?
        <br>
        Het controleren van uw verzekering is belangrijk.
        </p>
      </div>
  </div>
    <%= partial "footer" %>
</div>
